<div class="row">
    <div class="card">
        <div class="card-body p-2">
            <form [formGroup]="form" id="submitForm">
                <div class="row">

                    <div class="col-6 mt-1">
                        <label class="sr-only" for="machineGuid">دستگاه</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">دستگاه
                                    <span class="text-danger"> *</span>
                                </div>
                            </div>
                            <ng-select [items]="machines" formControlName="machineGuid" id="machineGuid"
                                bindLabel="title" bindValue="guid" [required]="true" (change)="onMachineGuidChange()">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-6 mt-1" *ngIf="selectedMachineHeadCount > 1">
                        <label class="sr-only" for="head">تعداد هد</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">شماره هد
                                    <span class="text-danger"> *</span>
                                </div>
                            </div>
                            <ng-select [items]="heads" formControlName="head" id="head" bindLabel="title"
                                bindValue="guid" [required]="true">
                            </ng-select>
                        </div>
                    </div>

                    <custom-input type="date" label="تاریخ فرم" formControlName="date" identity="date" size="col-6"
                        [required]="true" placeholder="روز / ماه / سال">
                    </custom-input>

                    <div class="col-6 mt-1">
                        <label class="sr-only" for="shiftGuid">شیفت کاری</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">شیفت کاری
                                    <span class="text-danger"> *</span>
                                </div>
                            </div>
                            <ng-select [items]="shifts" formControlName="shiftGuid" id="shiftGuid" bindLabel="title"
                                bindValue="guid" [required]="true">
                            </ng-select>
                        </div>
                    </div>

                    <custom-input type="text-area" formControlName="description" identity="description" size="col-12"
                        placeholder="توضیحات"></custom-input>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <app-label-icon-button label="افزودن ردیف فعالیت / توقف" icon="fa fa-plus" (clicked)="addDetail()"
            className="primary btn-sm"></app-label-icon-button>
    </div>
    <div class="card-body p-0" style="overflow-x: auto; min-height: 400px;">
        <table class="table table-responsive table-bordered w-max-content">

            <thead class="bg-soft-purple">
                <tr>
                    <th style="width: 180px">کدپرسنلی/نام اپراتور</th>
                    <th style="width: 300px">کد پروژه / نام قطعه / نام سیم</th>
                    <th style="width: 180px">فعالیت/توقف</th>
                    <th style="width: 180px">کد فعالیت/توقف</th>
                    <th style="width: 120px">ساعت شروع</th>
                    <th style="width: 120px">ساعت پایان</th>
                    <th style="width: 180px" *ngIf="salon?.hasWire">مصرف سیم</th>
                    <th style="width: 180px" *ngIf="salon?.hasGas">نوع گاز</th>
                    <th style="width: 120px" *ngIf="salon?.hasPowder">نوع پودر</th>
                    <th style="width: 180px" *ngIf="salon?.hasWire">نوع سیم</th>
                    <th style="width: 120px" *ngIf="salon?.hasWire">بچ سیم</th>
                    <th>عملیات</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let detail of details">
                    <td>
                        <ng-select [items]="personnels" [(ngModel)]="detail.personnelGuid" id="personnelGuid"
                            bindLabel="title" bindValue="guid" [required]="true">
                        </ng-select>
                    </td>
                    <td>
                        <ng-select [items]="projectDetails" [(ngModel)]="detail.projectDetailGuid"
                            id="projectDetailGuid" bindLabel="title" bindValue="guid" [required]="true"
                            (change)="onProjectDetailGuidChange(detail.guid)">
                        </ng-select>
                    </td>
                    <td>
                        <div class="d-grid gap-2">
                            <button *ngIf="detail.activityType == 1" class="btn btn-soft-success fw-bolder"
                                (click)="activityTypeChanged(detail.guid, 2)" (change)="calculateSummary()">
                                فعالیت
                            </button>
                            <button *ngIf="detail.activityType == 2" class="btn btn-soft-danger fw-bolder"
                                (click)="activityTypeChanged(detail.guid, 1)" (change)="calculateSummary()">
                                توقف
                            </button>
                        </div>
                    </td>
                    <td>
                        <ng-select [items]="detail.activities" [(ngModel)]="detail.activityGuid" id="activityGuid"
                            bindLabel="title" bindValue="guid" [required]="true" (change)="calculateSummary()">
                        </ng-select>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="detail.startTime" id="startTime" class="form-control"
                            mask="00:00" [showMaskTyped]="true" [keepCharacterPositions]="false"
                            (change)="calculateSummary()">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="detail.endTime" id="endTime" class="form-control" mask="00:00"
                            [showMaskTyped]="true" [keepCharacterPositions]="false" (change)="calculateSummary()">
                    </td>
                    <ng-container *ngIf="detail.activityType == 1; else isStop">
                        <td *ngIf="salon.hasWire">
                            <div class="align-items-stretch d-flex">
                                <input type="text" [(ngModel)]="detail.wireConsumption" id="wireConsumption"
                                    class="form-control" [disabled]="detail.activityType == 2"
                                    (input)="calculateSummary()">
                                <span class="badge badge-soft-dark fw-bold pt-2 ms-1">کیلوگرم</span>
                            </div>
                        </td>
                        <td *ngIf="salon.hasGas">
                            <ng-select [items]="gasTypes" [(ngModel)]="detail.gasTypeGuid" id="gasTypeGuid"
                                bindLabel="title" bindValue="guid" [disabled]="detail.activityType == 2">
                            </ng-select>
                        </td>
                        <td *ngIf="salon.hasPowder">
                            <ng-select [items]="powderTypes" [(ngModel)]="detail.powderTypeGuid" id="powderTypeGuid"
                                bindLabel="title" bindValue="guid" [disabled]="detail.activityType == 2">
                            </ng-select>
                        </td>
                        <td *ngIf="salon.hasWire">
                            <ng-select [items]="wireTypes" [(ngModel)]="detail.wireTypeGuid" id="wireTypeGuid"
                                bindLabel="title" bindValue="guid" [disabled]="detail.activityType == 2">
                            </ng-select>
                        </td>
                        <td *ngIf="salon.hasWire">
                            <ng-select [items]="wireScrews" [(ngModel)]="detail.wireScrewGuid" id="wireScrewGuid"
                                bindLabel="title" bindValue="guid" [required]="true">
                            </ng-select>
                        </td>
                    </ng-container>
                    <ng-template #isStop>
                        <td class="bg-soft-secondary" *ngIf="salon.hasWire"></td>
                        <td class="bg-soft-secondary" *ngIf="salon.hasGas"></td>
                        <td class="bg-soft-secondary" *ngIf="salon.hasPowder"></td>
                        <td class="bg-soft-secondary" *ngIf="salon.hasWire"></td>
                        <td class="bg-soft-secondary" *ngIf="salon.hasWire"></td>
                    </ng-template>
                    <td>
                        <div class="button-list">
                            <app-icon-button icon="fa fa-trash" className="soft-danger btn-sm"
                                (clicked)="removeDetail(detail.guid)" label="حذف ردیف"></app-icon-button>
                            <app-icon-button icon="fa fa-clone" className="soft-success btn-sm"
                                (clicked)="cloneDetail(detail.guid)" label="کپی ردیف"></app-icon-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-sm table-bordered text-center fw-bolder m-0">
            <thead>
                <tr>
                    <th class="bg-soft-secondary"></th>
                    <th>جوشکاری</th>
                    <th>غیر جوشکاری</th>
                    <th>تولیدی</th>
                    <th>غیر تولیدی</th>
                    <th class="bg-soft-secondary"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-soft-success">
                    <td>فعالیت</td>
                    <td>{{ summary.totalWeldingActivityHours }}</td>
                    <td>{{ summary.totalNonWeldingActivityHours }}</td>
                    <td> - </td>
                    <td> - </td>
                    <td>{{ summary.totalActivityHours }}</td>
                </tr>
                <tr class="bg-soft-danger">
                    <td>توقف</td>
                    <td> - </td>
                    <td> - </td>
                    <td>{{ summary.totalProductionStopHours }}</td>
                    <td>{{ summary.totalNonProductionStopHours }}</td>
                    <td>{{ summary.totalStopHours }}</td>
                </tr>
                <tr class="bg-soft-primary">
                    <td colspan="5" class="text-start">مجموع کل ساعات (ساعت)</td>
                    <td>{{ summary.totalHours }}</td>
                </tr>
                <tr class="bg-soft-primary">
                    <td colspan="5" class="text-start">مجموع کل سیم مصرفی (کیوگرم)</td>
                    <td>{{ summary.totalWireConsumption }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body p-2">
        <div class="button-list">
            <app-label-icon-button className="success" icon="fa fa-check" label="ذخیره و خروج"
                (clicked)="submit(1)"></app-label-icon-button>
            <app-label-icon-button className="danger" icon="fas fa-times" label="انصراف"
                (clicked)="navigateToList()"></app-label-icon-button>
        </div>
    </div>
</div>