<form [formGroup]="form" (submit)="getLog()" id="submitForm">
  <div class="card">
    <div class="card-header">
      تنظیم شروط گزارش عملیات کاربران
    </div>
    <div class="card-body">
      <div class="row">
        <custom-input type="date" label="تاریخ ورود از " formControlName="startDatePer" identity="startDatePer"
          size="col-4" [required]="true">
        </custom-input>
        <custom-input type="date" label="تاریخ ورود تا " formControlName="endDatePer" identity="endDatePer" size="col-4"
          [required]="true">
        </custom-input>
        <custom-select formControlName="userGuid" identity="userGuid" label="نام و نام خانوادگی کاربر" size="col-4"
          [options]="userList">
        </custom-select>
        <custom-input label="IP Address" formControlName="clientIpAddress" identity="clientIpAddress" size="col-4">
        </custom-input>
        <custom-select [options]="companies" formControlName="companyGuid" identity="companyGuid" size="col-4"
          label="شرکت"></custom-select>
        <div class="col-4 mb-1 mt-1">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="organizationChartTitle" id="organizationChartTitle"
              readonly>
            <button (click)="openOrganizationChartModal()" class="btn btn-dark waves-effect waves-light"
              type="button">انتخاب
              واحد سازمانی</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-label-icon-button btnType="submit" identifier="submitBtn" label="دریافت گزارش" icon="mdi-refresh"
        className="success">
      </app-label-icon-button>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-header">
    <div class="button-list">
      <app-label-icon-button btnType="button" identifier="submitBtn" label="حذف فیلترهای جدول" icon="mdi-refresh"
        className="danger" (clicked)="removeAllFilters()">
      </app-label-icon-button>
      <app-label-icon-button btnType="button" identifier="submitBtn" label="دریافت خروجی" icon="mdi-refresh"
        className="secondary" (clicked)="onExportExcel()">
      </app-label-icon-button>
    </div>
  </div>
  <div class="card-body">
    <ag-grid-angular #agGrid id="myGrid" [components]="components" class="ag-theme-material"
      style="height: 600px; width: auto;" [rowData]="userLogList" [gridOptions]="gridOptions" [modules]="modules"
      (gridReady)="onGridReady($event)"></ag-grid-angular>
  </div>
</div>

<app-modal #organizationChartModal [modalConfig]="modalConfig" (onModalHide)="onModalClose()">
  <div class="row">
    <div class="col-lg-12">
      <app-js-tree #jsTree [readonly]="true" (selected)="selected($event)"></app-js-tree>
    </div>
  </div>
</app-modal>