<div class="content">
  <div class="container-fluid">

    <div class="row">

      <ng-container *ngFor="let item of salons">
        <div class="col-xl-3 col-md-6" (click)="onSalonClicked(item)" style="cursor: pointer;">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">

                <div class="text-end">
                  <h3 class="mb-1 mt-0"> راندمان: %{{item.randeman}} </h3>
                  <p class="text-muted mb-0"> {{item.name}}</p>
                </div>

                <img src="../assets/images/robotic.svg" class="w-25" />

              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

    <ng-container *ngIf="salon">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title d-flex align-items-center justify-content-between">
                توقفات
                <div class="button-list">
                  <button type="button" class="btn btn-light" (click)="getStopChart(1)">هفتگی</button>
                  <button type="button" class="btn btn-light" (click)="getStopChart(2)">ماهانه</button>
                  <button type="button" class="btn btn-light" (click)="getStopChart(3)">سالانه</button>
                </div>
              </h4>
              <div class="mt-3 text-center" dir="ltr">

                <div id="stop-chart" class="apex-charts" data-colors="#FFA500,#136a37,#D4AF37,#e3eaef"></div>

                <div class="row mt-3">
                  <div class="col-4" *ngFor="let item of stopChartResult">
                    <p class="text-muted font-15 mb-1 text-truncate">{{item.name}}</p>
                    <h4>{{item.value}}%</h4>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title d-flex align-items-center justify-content-between">
                مصرف سیم
                <div class="button-list">
                  <button type="button" class="btn btn-light" (click)="getWireConsumptionChart(1)">هفتگی</button>
                  <button type="button" class="btn btn-light" (click)="getWireConsumptionChart(2)">ماهانه</button>
                  <button type="button" class="btn btn-light" (click)="getWireConsumptionChart(3)">سالانه</button>
                </div>
              </h4>
              <div class="mt-3 text-center">
                <div dir="ltr">
                  <div id="wire-consumption123" class="apex-charts"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-body">

              <h4 class="header-title d-flex align-items-center justify-content-between">
                فعالیت ماشین آلات
                <div class="button-list">
                  <button type="button" class="btn btn-light" (click)="getMachineActivityChart(1)">هفتگی</button>
                  <button type="button" class="btn btn-light" (click)="getMachineActivityChart(2)">ماهانه</button>
                  <button type="button" class="btn btn-light" (click)="getMachineActivityChart(3)">سالانه</button>
                </div>
              </h4>

              <div class="mt-3 text-center">
                <div dir="ltr">
                  <div id="machine-activity" class="apex-charts" data-colors="#6559cc,#e3eaef,#e3eabf"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="card">
            <div class="card-body">

              <h4 class="header-title mb-3">پروژه های فعال {{salon.name}}</h4>

              <div class="table-responsive">
                <table class="table table-borderless table-hover table-centered m-0">

                  <thead class="table-light">
                    <tr>
                      <th>کد پروژه</th>
                      <th>عنوان پروژه</th>
                      <!-- <th>واحد</th> -->
                      <th>نام کارفرما</th>
                      <th>تاریخ شروع</th>
                      <th>تاریخ تحویل</th>
                      <th>درصد پیشرفت</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of activeProjects">
                      <td> {{item.code}} </td>
                      <td> {{item.name}} </td>
                      <!-- <td> {{item.salon}} </td> -->
                      <td> {{item.taskMaster}} </td>
                      <td> {{item.startDate}} </td>
                      <td> {{item.deliveryDate}} </td>
                      <td>
                        <div class="progress mb-0">
                          <div class="progress-bar" role="progressbar" [style.width.%]="item.progress" aria-valuemin="0"
                            aria-valuemax="100">
                            {{item.progress}}%
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="card">
            <div class="card-body">

              <h4 class="header-title d-flex align-items-center justify-content-between mb-3">
                گروه محصولات {{salon.name}}

                <div class="button-list">
                  <button type="button" class="btn btn-light" (click)="getProductCategory(1)">هفتگی</button>
                  <button type="button" class="btn btn-light" (click)="getProductCategory(2)">ماهانه</button>
                  <button type="button" class="btn btn-light" (click)="getProductCategory(3)">سالانه</button>
                </div>
              </h4>

              <div class="table-responsive">
                <table class="table table-borderless table-hover table-centered m-0">

                  <thead class="table-light">
                    <tr>
                      <th>گروه محصولات</th>
                      <th>خالص ساعت در اختیار تولید</th>
                      <th>ساعت در اختیار به کل</th>
                      <th>میزان مصرف سیم جوش (kg)</th>
                      <th>میزان مصرف سیم کل</th>
                      <th>راندمان</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of productCategory">
                      <td> {{item.productGroup}} </td>
                      <td> {{item.value1}} </td>
                      <td> {{item.value2}} </td>
                      <td> {{item.value3}} </td>
                      <td> {{item.value4}} </td>
                      <td> {{item.value5}}% </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

    </ng-container>

  </div>
</div>