<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="button-list">
                    <app-label-icon-button identifier="submitBtn" label="افزودن" icon="fa fa-plus" className="success"
                        (clicked)="openOpsModal()">
                    </app-label-icon-button>
                    <app-label-icon-button identifier="submitBtn" label="بازخوانی" icon="fas fa-redo-alt"
                        (clicked)="getList()">
                    </app-label-icon-button>
                    <app-label-icon-button btnType="button" identifier="submitBtn" label="حذف جستجو"
                        className="btn btn-outline-danger" icon="fas fa-eye-slash" (clicked)="removeAllFilters()">
                    </app-label-icon-button>
                    <app-label-icon-button btnType="button" identifier="submitBtn" label="Excel دریافت"
                        className="btn btn-outline-secondary" icon="fas fa-file-excel" (click)="onExportExcel()">
                    </app-label-icon-button>
                </div>
            </div>

            <div class="card-body">
                <ag-grid-angular #agGrid id="myGrid" [components]="components" class="ag-theme-material"
                    style="height: 600px; width: auto;" [rowData]="records" [gridOptions]="gridOptions"
                    [modules]="modules" (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>

        </div>
    </div>
</div>

<app-modal #opsModal [modalConfig]="modalConfig" (submited)="submit($event)" (onModalHide)="modalClosed()"
    [isModalOpen]="isModalOpen">
    <form [formGroup]="form" id="submitForm" class="form-row">

        <custom-input label="کد" formControlName="code" identity="code" size="col-12" [required]="true">
        </custom-input>

        <div class="mb-1 mt-1">
            <label class="sr-only" for="type">نوع</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">نوع
                        <span class="text-danger"> *</span>
                    </div>
                </div>
                <ng-select [items]="activityTypes" formControlName="type" id="type" bindLabel="title" bindValue="guid">
                </ng-select>
            </div>
        </div>

        <div class="mb-1 mt-1">
            <label class="sr-only" for="type">زیر گروه</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">زیر گروه
                        <span class="text-danger"> *</span>
                    </div>
                </div>
                <ng-select [items]="activitySubTypes" formControlName="subType" id="subType" bindLabel="title"
                    bindValue="guid">
                </ng-select>
            </div>
        </div>

        <div class="mb-1 mt-1">
            <label class="sr-only" for="salonGuids">انتخاب واحدهای کاری</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"> واحدهای کاری
                        <span class="text-danger"> *</span>
                    </div>
                </div>
                <ng-select formControlName="salonGuids" placeholder="انتخاب واحدهای کاری" [multiple]="true">
                    <ng-option [value]="item.guid" *ngFor="let item of salons">{{item.title}}</ng-option>
                </ng-select>
            </div>
        </div>

        <div class="mb-1 mt-1" *ngIf="type == 2">
            <label class="sr-only" for="sourceGuid">منشاء</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"> منشاء </div>
                </div>
                <ng-select [items]="sources" formControlName="sourceGuid" id="sourceGuid" bindLabel="title"
                    bindValue="guid">
                </ng-select>
            </div>
        </div>

        <custom-input label="نام" formControlName="name" identity="name" size="col-12" [required]="true">
        </custom-input>

        <custom-checkbox label="سایر فعالیت ها" formControlName="isOther" identity="isOther" size="col-12"
            [required]="true">
        </custom-checkbox>
        <custom-checkbox label="بدون احتساب پرسنل ها" formControlName="withOutPersonnel" identity="withOutPersonnel"
            size="col-12" [required]="true">
        </custom-checkbox>
        <custom-checkbox label="بدون احتساب پروژه ها" formControlName="withOutProject" identity="withOutProject"
            size="col-12" [required]="true">
        </custom-checkbox>


    </form>
</app-modal>