<div class="form-check {{size}}">
  <input type="checkbox" class="form-check-input" [id]="identity" [disabled]="isDisabled" [ngModel]="checked"
    (ngModelChange)="onModelChange($event)">
    <label class="form-check-label" [for]="identity">{{label}}</label>
    @if (ngControl?.invalid && (ngControl?.touched || ngControl?.dirty)) {
      <ul class="text-danger mt-1">
        @if (ngControl?.errors?.['required']) {
          <li>
            این فیلد اجباری است.
          </li>
        }
      </ul>
    }
  </div>