<div class="mb-1 mt-1">
  <label class="sr-only" [for]="identity">{{label}}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">{{label}}
        @if (required) {
          <span class="text-danger"> *</span>
        }
      </div>
    </div>

    @switch (type) {
      @case ('select') {
        <select appSelect2 data-toggle="select2" class="mr-2" [id]="identity" (itemSelected)="itemSeleceted()"
          [disabled]="isDisabled" [attr.required]="required || null" [placeholder]="placeholder">
          <option></option>
          @for (item of options; track item) {
            <option [value]="item.guid" [selected]="item.guid == value">{{item.title}}
            </option>
          }
        </select>
      }
      @case ('select-ajax') {
        <select appSelect2 data-toggle="select2" class="mr-2" [id]="identity" (itemSelected)="itemSeleceted()"
          [disabled]="isDisabled" [ajaxUrl]="ajaxUrl" [searchTerm]="searchTerm" [attr.required]="required || null"
          [placeholder]="placeholder" [selectedItem]="selectedItem">
          @for (item of options; track item) {
            <option [value]="item.guid">{{item.title}}</option>
          }
        </select>
      }
    }

    <ng-content></ng-content>
  </div>

  @if (ngControl?.invalid && (ngControl?.dirty)) {
    <ul class="text-danger mt-1">
      @if (ngControl?.errors?.['required']) {
        <li>
          این فیلد اجباری است.
        </li>
      }
    </ul>
  }

</div>