<div class="navbar-custom">
  <div class="container-fluid">

    <ul class="list-unstyled topnav-menu float-end mb-0">

      <li class="d-none d-lg-block">
        <form class="app-search">
          <div class="app-search-box dropdown">
            <div class="input-group">
              <!-- <input type="search" class="form-control w-auto" placeholder="جستجو ..." id="top-search">

               <button class="btn" type="submit">
                <img width="15x" height="15px" src="assets/images/icons/search.svg">
              </button> -->
            </div>
            <div class="dropdown-menu dropdown-lg" id="search-dropdown">
              <!-- item-->
              <div class="dropdown-header noti-title">
                <h5 class="text-overflow mb-2">Found <span class="text-danger">09</span> results</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-home me-1"></i>
                <span>Analytics Report</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-aperture me-1"></i>
                <span>How can I help you?</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-settings me-1"></i>
                <span>User profile settings</span>
              </a>

              <!-- item-->
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow mb-2 text-uppercase">Users</h6>
              </div>

              <div class="notification-list">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="d-flex">
                    <img class="d-flex me-2 rounded-circle" src="../assets/images/users/avatar-2.jpg"
                      alt="Generic placeholder image" height="32">
                    <div>
                      <h5 class="m-0 font-14">Erwin E. Brown</h5>
                      <span class="font-12 mb-0">UI Designer</span>
                    </div>
                  </div>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="d-flex">
                    <img class="d-flex me-2 rounded-circle" src="../assets/images/users/avatar-5.jpg"
                      alt="Generic placeholder image" height="32">
                    <div>
                      <h5 class="m-0 font-14">Jacob Deo</h5>
                      <span class="font-12 mb-0">Developer</span>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </form>
      </li>

      <li class="dropdown d-inline-block d-lg-none">
        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-bs-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <img width="15x" height="15px" src="assets/images/icons/search.svg">
        </a>
        <div class="dropdown-menu dropdown-lg dropdown-menu-end p-0">
          <form class="p-3">
            <input type="text" class="form-control" placeholder="Search ..." aria-label="Search">
          </form>
        </div>
      </li>

      <!-- <li class="dropdown d-none d-lg-inline-block">
        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
          <img width="25x" height="25px" src="assets/images/icons/maximize-expand.svg">
        </a>
      </li> -->

      <!-- <li class="dropdown d-none d-lg-inline-block topbar-dropdown">
        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-bs-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <img width="25x" height="25px" src="assets/images/icons/bx-grid-alt.svg">
        </a>
        <div class="dropdown-menu dropdown-lg dropdown-menu-end p-0">

          <div class="p-2">
            <div class="row g-0">
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/github.png" alt="Github">
                  <span>گیت هاب</span>
                </a>
              </div>
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/dribbble.png" alt="dribbble">
                  <span>دریبل</span>
                </a>
              </div>
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/slack.png" alt="slack">
                  <span>اسلک</span>
                </a>
              </div>
            </div>

            <div class="row g-0">
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/g-suite.png" alt="G Suite">
                  <span>گوگل سوییت</span>
                </a>
              </div>
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/bitbucket.png" alt="bitbucket">
                  <span>بیتباکت</span>
                </a>
              </div>
              <div class="col">
                <a class="dropdown-icon-item" href="#">
                  <img src="../assets/images/brands/dropbox.png" alt="dropbox">
                  <span>دراپ باکس</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </li> -->

      <!-- <li class="dropdown notification-list topbar-dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <img width="25x" height="25px" src="assets/images/icons/bell-light.svg">
          <span class="badge bg-danger rounded-circle noti-icon-badge">2</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-lg">

          <div class="dropdown-item noti-title">
            <h5 class="m-0">
              <span class="float-end">
                <a href="" class="text-dark">
                  <small>حذف همه</small>
                </a>
              </span>پیغام ها
            </h5>
          </div>

          <div class="noti-scroll" data-simplebar>

            <a href="javascript:void(0);" class="dropdown-item notify-item active">
              <div class="notify-icon bg-soft-primary text-primary">
                <i class="mdi mdi-comment-account-outline"></i>
              </div>
              <p class="notify-details">10 روز مانده تا پایان اعتبار دستگاه شماره یک
                <small class="text-muted">یک دقیقه پیش</small>
              </p>
            </a>
            <a href="javascript:void(0);" class="dropdown-item notify-item active">
              <div class="notify-icon bg-soft-primary text-primary">
                <i class="mdi mdi-comment-account-outline"></i>
              </div>
              <p class="notify-details">17 روز مانده تا پایان اعتبار دستگاه شماره پنج
                <small class="text-muted">پنج ساعت پیش</small>
              </p>
            </a>

          </div>

          <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
            نمایش همه
          </a>

        </div>
      </li> -->

      <li class="dropdown notification-list topbar-dropdown">
        <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <!-- <img src="../assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle"> -->
          <span class="pro-user-name ms-1">
            {{information.fullname}} <img width="15px" height="15px" src="assets/images/icons/arrow-down-s-line.svg">
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end profile-dropdown">
          <!-- item-->
          <a href="javascript:void(0);" (click)="openChangePasswordModal()" class="dropdown-item notify-item">
            <img width="20px" height="20px" src="assets/images/icons/account-outline.svg">
            <span>تغییر کلمه رمز</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img width="20px" height="20px" src="assets/images/icons/settings-outline.svg">
            <span>تنظیمات</span>
          </a>

          <div class="dropdown-divider"></div>

          <!-- item-->
          <a (click)="logout()" href="javascript:void(0)" class="dropdown-item notify-item">
            <img width="20px" height="20px" src="assets/images/icons/logout-box-line.svg">
            <span>خروج از سیستم</span>
          </a>

        </div>
      </li>

      <!-- <li class="dropdown notification-list">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
          <img width="25x" height="25px" src="assets/images/icons/settings-outline.svg">
        </a>
      </li> -->

    </ul>

    <!-- LOGO -->
    <div class="logo-box">
      <a href="javascript:void(0)" class="logo logo-dark text-center">
        <span class="logo-sm">
          <img src="../assets/images/Flying phoenix-pana.png" alt="" height="24">
          <!-- <span class="logo-lg-text-light">Minton</span> -->
        </span>
        <span class="logo-lg">
          <img src="../assets/images/logo.jpeg" alt="" height="">
          <!-- <span class="logo-lg-text-light">آلیاژ جوش آریا</span> -->
        </span>
      </a>

      <a href="index.html" class="logo logo-light text-center">
        <span class="logo-sm">
          <!-- <img src="../assets/images/logo-solo.png" alt="" height="24"> -->
        </span>
        <span class="logo-lg">
          <!-- <img src="../assets/images/logo-solo.png" alt="" height="20"> -->
        </span>
      </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <!-- <li>
        <button type="button" class="button-menu-mobile waves-effect waves-light" (click)="mobileMenuButton()">
          <i class="fas fa-bars"></i>
        </button>
      </li>
 -->
      <li>
        <!-- Mobile menu toggle (Horizontal Layout)-->
        <a class="navbar-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </li>

      <!-- <li class="dropdown d-none d-xl-block">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          افزودن صفحه جدید
          <img width="15px" height="15px" src="assets/images/icons/arrow-down-s-line.svg">
        </a>
        <div class="dropdown-menu">
          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fe-briefcase me-1"></i>
            <span>لینک تست</span>
          </a>

          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fe-user me-1"></i>
            <span>لینک تست</span>
          </a>

          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fe-bar-chart-line- me-1"></i>
            <span>لینک تست</span>
          </a>

          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fe-settings me-1"></i>
            <span>لینک تست</span>
          </a>

          <div class="dropdown-divider"></div>

          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fe-headphones me-1"></i>
            <span>لینک تست</span>
          </a>

        </div>
      </li> -->

      <!-- <li class="dropdown dropdown-mega d-none d-xl-block">
        <a class="nav-link dropdown-toggle waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          منو تست
          <img width="15px" height="15px" src="assets/images/icons/arrow-down-s-line.svg">
        </a>
        <div class="dropdown-menu dropdown-megamenu">
          <div class="row">
            <div class="col-sm-8">

              <div class="row">
                <div class="col-md-4">
                  <h5 class="text-dark mt-0">لینک اول</h5>
                  <ul class="list-unstyled megamenu-list">
                    <li>
                      <a href="javascript:void(0);">لینک دوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک سوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک چهارم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک پنجم</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h5 class="text-dark mt-0">برنامه ها</h5>
                  <ul class="list-unstyled megamenu-list">
                    <li>
                      <a href="javascript:void(0);">لینک دوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک سوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک چهارم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک پنجم</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h5 class="text-dark mt-0">دیگر صفحات</h5>
                  <ul class="list-unstyled megamenu-list">
                    <li>
                      <a href="javascript:void(0);">لینک دوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک سوم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک چهارم</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">لینک پنجم</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-center mt-3">
                <h3 class="text-dark">خدمات ویزه پنل</h3>
                <h4>امکانات متنوع</h4>
                <button class="btn btn-primary rounded-pill mt-3">دانلود کنید</button>
              </div>
            </div>
          </div>

        </div>
      </li> -->

      <ng-container *ngIf="information">
        <li class="dropdown dropdown-mega d-none d-xl-block">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript:void(0)" role="button">
            <!-- شرکت: {{information.companyTitle}} -->
            آلیاژ جوش آریا
          </a>
        </li>

        <li class="dropdown dropdown-mega d-none d-xl-block">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript:void(0)" role="button">
            {{day}} {{todayDate}}
          </a>
        </li>

        <!-- <li class="dropdown dropdown-mega d-none d-xl-block">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript:void(0)" role="button">
            واحد سازمانی: {{information.organizationChartTitle}}
          </a>
        </li> -->

        <!-- <li class="dropdown dropdown-mega d-none d-xl-block">
          <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript:void(0)" role="button">
            سطح محرمانگی: {{information.classificationLevel}}
          </a>
        </li> -->
      </ng-container>

    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<app-modal #changePasswordModal [modalConfig]="changePassModalConfig" (submited)="changePassword($event)">
  <form [formGroup]="form" id="changePasswordForm" class="row">

    <custom-input type="password" label="کلمه رمز" formControlName="password" identity="chPassword" size="col-12"
      [required]="true">
      <div class="w-100 position-absolute top-100" style="direction: ltr;">
        <password-strength-meter [password]="password" [minPasswordLength]="6" [numberOfProgressBarItems]="4"
          (strengthChange)="strengthChange($event)"></password-strength-meter>
      </div>
    </custom-input>

    <custom-input type="password" label="تکرار کلمه رمز" formControlName="rePassword" identity="chRePassword"
      size="col-12" class="mt-2" [required]="true">
    </custom-input>

  </form>
</app-modal>