<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <div class="button-list">
                    <app-label-icon-button identifier="submitBtn" label="افزودن" icon="fa fa-plus" className="success"
                        (clicked)="openOpsModal()" permission="BasicInformation_MissionType_New">
                    </app-label-icon-button>
                    <app-label-icon-button identifier="submitBtn" label="بازخوانی" icon="fas fa-redo-alt"
                        (clicked)="getList()">
                    </app-label-icon-button>
                    <app-label-icon-button btnType="button" identifier="submitBtn" label="حذف جستجو"
                        className="btn btn-outline-danger" icon="fas fa-eye-slash" (clicked)="removeAllFilters()">
                    </app-label-icon-button>
                    <app-label-icon-button btnType="button" identifier="submitBtn" label="Excel دریافت"
                        className="btn btn-outline-secondary" icon="fas fa-file-excel" (click)="onExportExcel()">
                    </app-label-icon-button>
                </div>
            </div>

            <div class="card-body">
                <ag-grid-angular #agGrid id="myGrid" [components]="components" class="ag-theme-material"
                    style="height: 600px; width: auto;" [rowData]="records" [gridOptions]="gridOptions"
                    [modules]="modules" (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>

        </div>
    </div>
</div>

<app-modal #opsModal [modalConfig]="modalConfig" (submited)="submit($event)" (onModalHide)="modalClosed()"
    [isModalOpen]="isModalOpen">
    <form [formGroup]="form" id="submitForm" class="form-row">

        <div class="mb-1 mt-1">
            <label class="sr-only" for="wireTypeGroupGuid">گروه سیم</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">گروه سیم
                        <span class="text-danger"> *</span>
                    </div>
                </div>
                <ng-select [items]="wireTypeGroups" formControlName="wireTypeGroupGuid" id="wireTypeGroupGuid"
                    bindLabel="title" bindValue="guid">
                </ng-select>
            </div>
        </div>

        <custom-input label="کد سیم" formControlName="code" identity="code" size="col-12">
        </custom-input>

        <custom-input label="نام سیم" formControlName="name" identity="name" size="col-12" [required]="true"
            customClass="ltr">
        </custom-input>

        <custom-input type="number" label="سایز سیم (mm)" formControlName="wireSize" identity="wireSize" size="col-12">
        </custom-input>

    </form>
</app-modal>