<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">
        <span>{{title}}</span>
        <!-- <ng-container [ngSwitch]="classificationLevel">
          <span *ngSwitchCase="'عادی'" class="badge badge-soft-success mx-2 rounded-pill">{{classificationLevel}}</span>
          <span *ngSwitchCase="'محرمانه'" class="badge badge-soft-info mx-2 rounded-pill">{{classificationLevel}}</span>
          <span *ngSwitchCase="'خیلی محرمانه'" class="badge badge-soft-warning mx-2 rounded-pill">{{classificationLevel}}</span>
          <span *ngSwitchCase="'سری'" class="badge badge-soft-danger mx-2 rounded-pill">{{classificationLevel}}</span>
        </ng-container> -->
      </h4>
      <!-- <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">پنل ادمین</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0);">اطلاعات پایه</a></li>
          <li class="breadcrumb-item active">لیست ها</li>
        </ol>
      </div> -->
    </div>
  </div>
</div>