<form [formGroup]="form" id="submitForm" (ngSubmit)="submit(1)">
  <div class="card">
    <div class="card-header">مشخصات استعلام</div>
    <div class="card-body p-2">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input label="شماره پروژه (کد پروژه)" formControlName="projectCode" identity="projectCode"
            size="col-12" placeholder="مثال: S8901" [required]="true">
          </custom-input>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="saleDepartmentGuid">واحد فروش</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">واحد فروش <span class="text-danger">*</span></div>
              </div>
              <ng-select [items]="saleDepartments" formControlName="saleDepartmentGuid" labelForId="saleDepartmentGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید" [required]="true">
              </ng-select>
            </div>
            @if (form.get('saleDepartmentGuid').invalid && form.get('saleDepartmentGuid').touched) {
              <div class="text-danger mt-1">این فیلد اجباری است.</div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="taskMasterGuid">کارفرما</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">کارفرما <span class="text-danger">*</span></div>
              </div>
              <ng-select [items]="taskMasters" formControlName="taskMasterGuid" labelForId="taskMasterGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید" [required]="true">
              </ng-select>
            </div>
            @if (form.get('taskMasterGuid').invalid && form.get('taskMasterGuid').touched) {
              <div class="text-danger mt-1">این فیلد اجباری است.</div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="applicationTypeGuid">نوع اپلیکیشن</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">نوع اپلیکیشن <span class="text-danger">*</span></div>
              </div>
              <ng-select [items]="applicationTypes" formControlName="applicationTypeGuid" labelForId="applicationTypeGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید" [required]="true">
              </ng-select>
            </div>
            @if (form.get('applicationTypeGuid').invalid && form.get('applicationTypeGuid').touched) {
              <div class="text-danger mt-1">این فیلد اجباری است.</div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="projectTypeGuid">نوع پروژه</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">نوع پروژه <span class="text-danger">*</span></div>
              </div>
              <ng-select [items]="projectTypes" formControlName="projectTypeGuid" labelForId="projectTypeGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید" [required]="true">
              </ng-select>
            </div>
            @if (form.get('projectTypeGuid').invalid && form.get('projectTypeGuid').touched) {
              <div class="text-danger mt-1">این فیلد اجباری است.</div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input label="شماره استعلام / مناقصه" formControlName="no" identity="no"
            size="col-12" placeholder="مثال: MN-1404-12">
          </custom-input>
        </div>
        <div class="col-12">
          <custom-input type="text-area" label="شرح پروژه" formControlName="description" identity="description"
            size="col-12" placeholder="متن آزاد">
          </custom-input>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">تاریخ‌های استعلام</div>
    <div class="card-body p-2">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input type="date" label="تاریخ دریافت اسناد مناقصه/استعلام" formControlName="documentReceivedDate" identity="documentReceivedDate"
            size="col-12" placeholder="روز / ماه / سال">
          </custom-input>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input type="date" label="مهلت ارسال" formControlName="submissionDeadline" identity="submissionDeadline"
            size="col-12" placeholder="روز / ماه / سال">
          </custom-input>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input type="date" label="تاریخ دریافت ضمانت‌نامه" formControlName="guaranteeReceivedDate" identity="guaranteeReceivedDate"
            size="col-12" placeholder="روز / ماه / سال">
          </custom-input>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input type="date" label="تاریخ ارسال استعلام" formControlName="inquirySentDate" identity="inquirySentDate"
            size="col-12" placeholder="روز / ماه / سال">
          </custom-input>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="quotedAmount">مبلغ اعلامی</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">مبلغ اعلامی</div>
              </div>
              <input type="number" id="quotedAmount" formControlName="quotedAmount" class="form-control"
                min="0" step="1" placeholder="۰">
              <span class="input-group-text">ریال</span>
            </div>
            @if (form.get('quotedAmount').invalid && form.get('quotedAmount').touched) {
              <div class="text-danger mt-1">مبلغ باید یک عدد صحیح و غیرمنفی باشد.</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">نتیجه استعلام</div>
    <div class="card-body p-2">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="inquiryResultGuid">نتیجه استعلام</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">نتیجه استعلام</div>
              </div>
              <ng-select [items]="inquiryResults" formControlName="inquiryResultGuid" labelForId="inquiryResultGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="lossReasonGuid">دلایل باخت (فقط اگر باخت)</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">دلایل باخت (فقط اگر باخت)</div>
              </div>
              <ng-select [items]="lossReasons" formControlName="lossReasonGuid" labelForId="lossReasonGuid"
                bindLabel="title" bindValue="guid" placeholder="انتخاب کنید">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <custom-input label="برنده استعلام/مناقصه (فقط اگر باخت)" formControlName="winner" identity="winner"
            size="col-12" placeholder="—" [isDisabled]="!isLoss">
          </custom-input>
        </div>
        <div class="col-12 col-md-8 col-xl-8">
          <div class="mt-1 mb-1">
            <label class="sr-only" for="winningAmount">مبلغ برنده استعلام/مناقصه (فقط اگر باخت)</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">مبلغ برنده استعلام/مناقصه (فقط اگر باخت)</div>
              </div>
              <input type="number" id="winningAmount" formControlName="winningAmount" class="form-control"
                min="0" step="1" placeholder="۰">
              <span class="input-group-text">ریال</span>
            </div>
            @if (form.get('winningAmount').invalid && form.get('winningAmount').touched) {
              <div class="text-danger mt-1">مبلغ باید یک عدد صحیح و غیرمنفی باشد.</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-2">
      <div class="button-list">
        <app-label-icon-button className="success" icon="fa fa-check" label="ذخیره"
          [disable]="isSaving || isLoading" (clicked)="submit(2)"></app-label-icon-button>
        <app-label-icon-button className="success" icon="fa fa-check-double" label="ذخیره و خروج"
          [disable]="isSaving || isLoading" (clicked)="submit(1)"></app-label-icon-button>
        <app-label-icon-button className="danger" icon="fas fa-times" label="انصراف"
          [disable]="isSaving" (clicked)="navigateToList()"></app-label-icon-button>
      </div>
    </div>
  </div>
</form>
